#canteenListTitle{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    padding-bottom: 53px;
    font-family: 'Capriola', sans-serif;
    font-size: 130px;
}

#list{
    margin: 174px 92px 328px 92px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 71px;
    row-gap: 71px;
}


.canteenListPhoto{
    width: 318px;
    height: 140px;
    background-color: #d9d9d9;
    position: relative;
    z-index: -1;
}

.canteenListPhoto img{
    position: relative;
    z-index: -1;
    display: block;
    width: 318px;
    height: 140px;
}

.canteenListPhoto .fade{
    position: absolute;
    bottom: 0;
    width: 318px; 
    height: 140px;
    z-index: 1;
    background: rgba(255, 255, 255, 0) 
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 80%) repeat scroll 0 0;
}


.canteenListText{
    /* display: block; */
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.canteenListText:hover{
    cursor: pointer;
    /* pointer-events: auto; */
}

.canteenListText label{
    display: block;
    font-family: 'Capriola', sans-serif;
    font-size: 30px;
    text-align: center;
    color: brown;
}

/* not working need fix */
.canteenListText label:hover{
    color: black;

}