#canteenTitle{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    padding-bottom: 53px;
    font-family: 'Capriola', sans-serif;
    font-size: 130px;
}

.content{
    margin-bottom: 478px;
}

#canteenList{
    margin-bottom: 478px;
    margin-top: 30px;
}

#returnCanteenList{
    margin: 0px auto 25px 47px;
    display: flex;
}

#returnCanteenList img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
#returnCanteenList a{
    text-decoration: none;
}

#returnCanteenList label{
    font-size: 30px;
    padding-left: 10px;
    color: black;
    cursor: pointer;
}

#returnCanteenList label:hover{
    color: blue;
}

.canteenPhoto{
    display: flex;
    flex-direction: row;
    margin: 0px 46px 46px 46px;
    height: 131px;
    width: 1187px;
}

#photo img, #modalPhoto img{
    max-height: 131px;
    min-width: 284px;
    max-width: 284px;
    margin-right: 96px;
}



#description, #modalDescription{
    margin-top: 25px;
}

#description label, #modalDescription label{
    display: block;
    font-size: 30px;
    padding-bottom: 20px;
    font-family: 'Capriola', sans-serif;
    /* white-space: nowrap; */
    
}

#description p, #modalDescription p{
    font-size: 15px;
    font-family: 'Capriola', sans-serif;
    opacity: 50%;
}

#price{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 240px;
}

 #modalPrice{
    font-size: 30px;
    margin-top: 40px;
    /* margin-left: 240px; */
}

#addToCart{
    margin-top: 35px;
    margin-left: 60px;
}

#addToCart button{
    height: 51px;
    width: 180px;
    border-radius: 15px;
    background-color: #d9d9d9;
    font-size: 20px;
}

#addToCart button:hover{
    cursor: pointer;
    background-color: black;
    color: #d9d9d9;
}

#modalList{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    order: 2;
}

#addToCartInner{
    order: 3;
}

/* The Modal (background) */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    margin-top: 10%;
    max-width: 80%;
    border-radius: 10px;
}

/* The Close Button */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
    
.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#closeBtn{
    /* background-color: black; */
    order: 1;
}

#addToCartInner button{
    width: 180px;
    height: 51px;
    border-radius: 15px;
    background-color: #d9d9d9;
    float: right;
    cursor: pointer;
    font-size: 20px;
}

#addToCartInner button:hover{
    cursor: pointer;
    background-color: black;
    color: #d9d9d9;
}

/*Input Counter*/
span {cursor:pointer;}
    .number{
        display: inline-block;
        /* margin:100px; */
        margin-top: 40px;
        /* margin-left: 200px; */
        white-space: nowrap;
}

.minus, .plus{
    width:29px;
    height:27px;
    background:#d9d9d9;
    border-radius:4px;
    font-size: 30px;
    padding:8px 5px 16px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.minus:hover, .plus:hover{
    background-color: black;
    color: #d9d9d9;
}

input{
    height:52px;
    width: 58px;
    text-align: center;
    font-size: 30px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

