#feedbackTitle{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    padding-bottom: 31px;
    font-family: 'Capriola', sans-serif;
    font-size: 70px;
}

#feedbackFormBG{
    margin: 76px 191px 76px 191px;
    background-color: #d9d9d9;
}

#feedbackForm{
    margin-left: 164px;
    font-size: 30px;
}

#feedbackForm input:not(#feedbackSubmit, #feedbackBox){
    width: 571px;
    height: 80px;
    font-size: 30px;
    padding-left: 12px;
}

#pSubject{
    padding-top: 62px;
}

#subject:required:invalid {
    color: #a0a0a0;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}

#subject{
    font-size: 30px;
    width: 571px;
    height: 80px;
}

#pName, #pEmail, #pPassword, #pFeedback{
    padding-top: 33px;
}

#feedbackBox{
    width: 571px;
    height: 240px;
}


#feedbackSubmit{
    margin-left: 118px;
    width: 334px;
    height: 72px;
    margin-bottom: 51px;
    font-size: 30px;
    border-radius: 15px;
}

#feedbackSubmit:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}