*{
    margin: 0;
    padding: 0;
    font-family: 'Inder', sans-serif;
}

html{ 
    overflow-y: auto; 
}

body{
    min-width: 1280px;
}

.logo{
    width: 319px;
    height: 109px;
    border-style: solid;
    margin-left: 5%;
    margin-top: 2%;
}

header{
    height: 572px;
    width: 100%;
    background-color: grey;
    position: relative;
}

.content{
    max-width: 1280px;
    margin: auto;
}

.topButton{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    padding-top: 35px;
}

.topButton button{
    width: 194px;
    height: 50px;
    margin-right: 50px;
    border: 2px solid black;
    cursor: pointer;
}

.topButton button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.topButton button label{
    position: relative;
    font-size: 30px;
    margin-left: -30px;
    cursor: pointer;
}

.topButton button img {
    position: absolute;
    width: 33px;
    margin-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}

.footer{
    display: flex;
    padding: 0px;
    bottom: 0;
    background-color: gray;
    width: 100%;
    justify-content: space-evenly;
    height: 222px;
}

.footer a:hover{
    color: white;
    cursor: pointer;
}

.icon{
    width: 30px;
    padding: 10px;
}

.aboutUs{
    flex: 4;
    text-align: left;
    padding: 60px;
}

.contactUs{
    flex: 2;
    text-align: center;
    padding: 60px;
}

.quickLinks{
    flex: 2;
    text-align: center;
    vertical-align: middle;
    padding: 60px;
}

.followUs{
    flex: 1;
    text-align: center;
    padding: 60px;
}

.followUs div{
    display: flex;
    justify-content: space-evenly;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 194px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
    color: white;
}

.dropbtn img {
    width: 30px;
    height: 30px;
}